*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
.menu_button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.menu_button{
    position:absolute;
    background-image: linear-gradient(to right, #0b060c, #1a0b21, #220f36, #25124e, #1e1768);
    color:#fff;
    padding:10px 20px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Fraunces', serif;
    font-weight: 600;
}
.menu_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu_card{
    width:25%;
    background-color: #fff;
    box-shadow: 1px 2px 10px lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* justify-content: center; */
    /* align-items: center; */
    margin:10px;
}
.menu_card_bottom_area{
    display:flex;
    flex-wrap:wrap;
    margin-top:20px;
    margin-bottom:10px
}
@media(max-width:991px){
    .menu_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu_card{
        width:100%;
        background-color: #fff;
        box-shadow: 1px 2px 10px lightgray;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .menu_card_bottom_area{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        margin-top:20px;
        margin-bottom:10px
    }
}
.menu_card img{
    width:100%;
    height:250px;
    /* border-radius: 10px; */
}
.item_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.title{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Fraunces', serif;
    margin-bottom: 10px;
}
.details{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.price{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: #ee491b;
    padding:6px 20px;
    border-radius: 10px;
    color:#fff;
    
}
/* Login Page */
.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color:#f5f8fd;
    /* overflow: hidden; */
}
.login_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 1px 2px 10px lightgray;
    border-radius: 10px;
    padding:20px;
    width:400px;
    min-height: 400px;
    /* margin-top:20%; */
}
.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    /* margin:10px; */
}
.login_container{
    margin-top: 10px;
}
.login_container h2{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    padding:10px;
}
.login_container input{
    width:80%;   
    padding:10px;
    border:none;
    outline: none;
    border-bottom: 2px solid #000;
    margin: 10px;
}
.login_btn{
    padding:15px;
    border-radius: 10px;
    border:none;
    outline:none;
    font-size: 20px;
    font-weight: 550;
    width:90%;
    cursor: pointer;
    margin:10px;
    background-color: #fff;
    border:3px solid #1e1768;
}
.login_btn:hover{
    background-image: linear-gradient(to right, #0b060c, #1a0b21, #220f36, #25124e, #1e1768);
    color:#fff;
}
.signup_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: #fff;
    box-shadow: 1px 2px 10px lightgray;
    border-radius: 10px;
    padding:20px;
    width:700px;
    height: 80vh;
}
.upload_btn{
    padding:15px;
    border-radius: 10px;
    border:none;
    outline:none;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    /* margin:6px */
    background-image: linear-gradient(to bottom, #ebe852, #f1c52b, #f4a00a, #f47808, #ee491b);
}

.signup_btn{
    padding:15px;
    border-radius: 10px;
    border:none;
    outline:none;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    margin:10px;
    background-color: #fff;
    border:3px solid #1e1768;
}
.signup_btn:hover{
    background-image: linear-gradient(to right, #0b060c, #1a0b21, #220f36, #25124e, #1e1768);
    color:#fff;
}
.btn_wrapper{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.modal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 10;
}
.modal_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    background-color: transparent;
    border:none;
    outline:none !important;
    /* width:100%; */
}
.modal_body{
    background-color: #fff;
    position: absolute;
    border: none;
    box-shadow: 1px 2px 10px lightgray;
    border-radius: 10px;
    padding:10px;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    
}

.modal_desc{
    display: flex;
    flex-direction: column;
}
.user_details table{
    width:100%;
    padding:10px;
    margin:10px;
}
.user_details table td{
    font-size: 20px;
    padding:6px;
}
.table_head{
    font-size: 20px;
    font-weight: 600;
}
.user_id img{
    width:500px;
    height:350px;
}

.Current_order_Container{
position: fixed;
top:0;
left:0;
width:100%;
height:100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 99999;
background-color: rgba(0,0,0,0.6);
}

.Current_order_box{
    position: relative;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    background-color: #fff;
    border:none;
    box-shadow: 1px 2px 10px lightgray;
    border-radius: 10px;
    padding:20px;
    min-width:50%;
    min-height: 30%;
    height:auto;
    max-width:90%;
}
.closebtn{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: none;
    border:none;
    outline: none;
    cursor: pointer;
    margin:10px;
    
}
.closebtn:hover{
    transform: rotateZ(180deg);
    transition: 1s;
}

.order_table{
    width:50%;
    margin: 2px;
    /* padding:10px; */
    border: 1px solid lightgray;
    overflow-x:scroll ;
    
}
.order_table th{
    background-color: #1e1768;
    color:#fff;
    
}
.order_table td,th{
    padding:10px;
    /* border:1px solid #000 */
    font-size: 18px;
    font-weight: 500;
}
.food_img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.food_btn{
    position:fixed;
    top:50%;
    left:0;
    z-Index:199;
    background-color: transparent;
    border:none;
    cursor: pointer;
    color:#fff;
    margin-Top:'10px';
    outline: none;
}
.footer_container{
    background-image: linear-gradient(to right, #0b060c, #1a0b21, #220f36, #25124e, #1e1768);
    color:#fff;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.footer_container .heading{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    /* line-height: 2; */
    font-weight: 500;
    border-bottom: 2px solid #fff;
    padding: 1% 20%
}
.footer_container .heading h1{
    text-align: center;
}
.features_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.features{
    display: flex;
    align-items: center;
    font-family: 'Fraunces', serif;
    font-size: 20px;
    font-weight: 600;
}
.features img{
    width:40px;
    height:40px;
}
.social_contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
}
.payment_side{
    position: relative;
    /* width:50%; */
    padding:10px;
}
.payment_side span{
    font-size: 17px;
    font-weight: 500;
    /* margin:px */
}

.placeorder_btn{
    border:none;
    background:#3F51B5;
    outline:none;color:#fff;
    padding:10px;
    cursor:pointer
}
.placeorder_btn:disabled,
.placeorder_btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.payment_card{
    padding:10px;
    /* font-size:17px; */
}
.payment_card label{
    font-size: 15px;
    font-weight: 600;
    margin:7px
}
.payment_card input{
    width:300px;
    padding:7px;
    outline:none;
    margin:5px;
    border: none;
    border-bottom: 1px solid #000;
}
.user_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.order_history{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
}
.order_history table{
    background-color: #ffff;
    box-shadow: 1px 2px 10px lightgray;
    border-radius: 10px;
    width:90%;
    margin:10px
}
.order_history table td{
    padding:10px;
    /* border:1px solid lightgray; */
    text-align: center;
}
.order_history table th{
    font-size: 18px;
    font-weight: 600;
    /* border:1px solid lightgray; */
}
.user_table table{
    width:100%;
    background-color: #ffff;
    box-shadow: 1px 2px 10px lightgray;
    border-radius: 10px;
}
.user_table table td{
    padding:10px;
}